<!DOCTYPE html>
<html>
<head>
	<title>Enigma 1</title>
</head>
<body>
	<ul>
            <li><a href="#customer">Customer</a></li>
            <li><a href="#account">Account</a></li>
            <li><a href="#transaction">Transaction</a></li>
            <li><a href="#about">About</a></li>
        </ul>

        <br/><br/>

        <h1>WELCOME</h1>
        <button onclick="window.location.href='customer/signUp.html'" >Sign Up</button>
        <div class="box">
            <a class="button" href="#popup1">Let me Pop up</a>
        </div>
        <div id="popup1" class="overlay">
            <div class="popup">
                <h2>Here i am</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    Thank to pop me out of that button, but now i'm done so you can close this window.
                </div>
            </div>
        </div>
</body>
</html>